includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 8
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#If condition is always false#'
            path: app/Repository/TasksRepository.php
